<div class="container">
  <h1 class="row">Employee Details</h1>
  <form (ngSubmit)="onsubmit(emplyeeform)" #emplyeeform="ngForm"> 
    <div class="form-group row">
      <label for="example-text-input" class="col-2 col-form-label">FirstName</label>
      <div class="col-10">
        <input class="form-control" type="text" [(ngModel)]="employee.firstname" name="firstname" #firstname="ngModel" required>
        <div [hidden]="firstname.valid || firstname.pristine"class="alert alert-danger">FirstName is required</div>
      </div>
    </div>
    <div class="form-group row">
      <label for="example-text-input" class="col-2 col-form-label">LastName</label>
      <div class="col-10">
        <input class="form-control" type="text" [(ngModel)]="employee.lastname" name="lastname" #lastname="ngModel" required>
        <div [hidden]="lastname.valid || lastname.pristine"class="alert alert-danger">LastName is required</div>
      </div>
    </div>
    <div class="form-group row">
      <label for="example-text-input" class="col-2 col-form-label">Age</label>
      <div class="col-10">
        <input class="form-control" type="text" [(ngModel)]="employee.age" required name="age" #age="ngModel" employeeAge>
        <div [hidden]="age.valid || age.pristine"class="alert alert-danger">Age is required</div>
      </div>
    </div>
    <div class="form-group row">
      <label for="example-text-input" class="col-2 col-form-label">PhoneNumber</label>
      <div class="col-10">
        <input class="form-control" type="text" [(ngModel)]="employee.phonenumber" name="phonenumber" #phonenumber="ngModel" required>
        <div [hidden]="phonenumber.valid || phonenumber.pristine"class="alert alert-danger">PhoneNumber is required</div>
      </div>
    </div>
    <button type="submit" class="btn btn-success" [disabled]="!emplyeeform.form.valid">Submit</button>
  </form>
</div>